/*style de la publicación presentada en el muro---en proceso de creación*/
.container-coverPage-profilePhoto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("/img/cover-default.jpg");
    margin: 50px auto;
    border-radius: 15px;
    padding:1%;
    background-size: cover;
    background-position: bottom;
    position: relative;
    height: 200px;
    margin-bottom: 90px;
    width: 85%;
    max-width: 700px;
    cursor: pointer;
}

.name-usuario{
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    bottom: -40px;
    left: 130px;
    text-transform: uppercase;
    cursor: pointer;
}
.photo-profile {
    flex-direction: column;
    font-size: 10px;
    padding:1%;
    cursor: pointer;
    margin: 0;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 10px;
    background-image: url("img/un-usuario.jpg");
    bottom: -60px;
    border-radius: 69px ;
    background-position: center;
    background-size: cover;
}

.cover-page-profile {
    flex-direction: column;
    font-size: 10px;
    margin:5% 12%;
    border-radius: 15px;
    padding:1%;
    width:90%;
    background-color: white;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.42857143;
    color: #333;
}


/*style responsivo del perfil*/
@media (min-width:600px){

    .photo-profile {
    }

    .cover-page-profile{
        width: 60%;
    }
}
@media (min-width:980px){

    .container-coverPage-profilePhoto {

    }

    .photo-profile {
    }
    .cover-page-profile {
        width:60%;
    }
}
@media (min-width:1200px) {

    .container-coverPage-profilePhoto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 7% 25%;

    }

    .photo-profile {
    }
    .cover-page-profile{
        width: 70%;
    }

}
@media (min-width:1600px) {


}
