* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}
#pageLogin{
    background: url(img/diseno-fondo.webp) no-repeat center center fixed; 
    height: 100%;
    width: 100%; 
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
   font-size:medium;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#pageLoginContent{
    background-color: rgba(255, 255, 255, 0.392);;
    height: 90%;
    width: 40%; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    padding: 5%;
}
#logoProgrammer{
   height: 30%;
   width: 55%;
   text-align: center;
}
#logo{
    width:100% ;
    height: 70%;
    margin-top: 10%; 
}
.contentLogosInput{
    width: 100%;
    height: 30%;
    margin-bottom: 7%;
    transform: translateX(0%);
   
    
}
.inputUser{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 0;
    padding-left: 12%;
   
}
.logoUser-Lock{
    width: 22px;
    height: 25px;
    position: absolute;
    border: 0;
    left:2%;
    margin-top: 2%;
}
.buttonLogin{
    width: 120px;
    height:35px ;
    border-radius: 15px;
    border: 0;
    box-shadow: 2px 2px 5px #999;
    margin-left: 10px;
}
@media (min-width: 600px) and (max-width: 767px) {
    #pageLogin{
        font-size:x-large;
    }
    .inputUser{
        margin-bottom: 8%;
        width: 350px;
        height:50px ;
        border-radius: 20px;
        font-size: large;
    }
    .buttonLogin{
        width: 160px;
        height:45px ;
        border-radius: 20px;
        font-size: large;
        box-shadow: 2px 2px 5px #999;
    }
}
@media only screen and (min-width: 768px) {
    #logoProgrammer{
        height: 25%;
        width:20%;
        text-align: center;
        font-size: x-large;
       
     }
    #pageLogin{
        font-size:xx-large;
        flex-wrap: wrap;
        
    }
    .inputUser{
        
        width: 470px;
        height:60px ;
        border-radius: 20px;
        font-size: x-large;
        
    }
    .logoUser-Lock{
        width: 27px;
        height: 28px;
    }
    .buttonLogin{
        width: 200px;
        height:50px ;
        border-radius: 20px;
        font-size: x-large; 
        box-shadow: 2px 2px 5px #999;
    }

}


/*style login*/

    body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }
    .full-page{
        background: url(img/diseno-fondo.webp) no-repeat center center; 
        background-size: cover;
        display: block;
        content: "";
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .container{
        padding-right:15px;
        padding-left:15px;
        margin-right:auto;
        margin-left:auto;
        padding-top: 18vh;
    }
        
    .card {
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 25px 0;
        box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
        border-radius: 6px;
        color: rgba(0,0,0, 0.87);
        background: #fff;
        padding-bottom: 20px;
    }
   
    .card-header {
        padding: 15px 20px;
        z-index: 3;
        box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
        margin: -20px 15px 0;
        border-radius: 3px;
        padding: 15px;
        background-color: #999999;
        position: relative;
        margin-top: -40px;
        margin-bottom: 20px;
    }

    .text-center {
        text-align: center;
    }

    .img-login {
        display: inline-block; 
        height: 100px; 
        width: 120px; 
    }

    .card-content {
        padding: 15px 20px 15px 20px;
        position: relative;
    }
     
    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        margin-top: 10px;
    }

    .input-group-ico {
        border: 0;
        background: transparent;
        padding: 30px 12px 8px 12px;
        line-height: 1;
        text-align: center;
        width: 1%;
        vertical-align: middle;
        display: table-cell;
    }

    .ico-user {
        content: url(img/usuario.png);
    }
    .ico-eye {
        content: url(img/ver.png);
    }
    .ico-eye-hide {
        content: url(img/invisible.png);
    }
    .ico-lock {
        content: url(img/password.png);
    }

    .control-label {
        top: -7px;
        font-size: 14px;
        line-height: 1.42857;
        color: #AAAAAA;
        font-weight: 400;
        margin: 16px 0 0 0;
    }

    .input-login {
        display: block;
        width: 100%;
        height: 34px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        border: 0;
        background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
        background-size: 0 2px, 100% 1px;
        background-repeat: no-repeat;
        background-position: center bottom, center calc(100% - 1px);
        background-color: transparent;
        transition: background 0s ease-out;
        float: none;
        box-shadow: none;
        border-radius: 0;
        font-weight: 400;
    }

    *:focus{
        outline:0;
    }
    
    .link-login{
        display:block;
        margin-top: 10px;;
    }
    @media (min-width:430px){
        .container{width:80%}
    }
    @media (min-width:570px){
        .container{width:70%}
    }
    @media (min-width:613px){
        .container{width:60%}
    }

    @media (min-width:768px){
        .container{width:50%}
    }
    @media (min-width:992px){
        .container{width:40%}
    }
    @media (min-width:1200px){
        .container{width:30%}
    }

    /* style create user */

    #pageCreate{
        background: url(img/diseno-fondo.webp) no-repeat center center; 
        min-height: 100%;
        min-width: 100%; 
        padding:15px 10px;
        background-size: cover;
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        color: rgba(0,0,0, 0.87);;
       font-size:medium;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #pageCreateContent{
        background-color: #fff;
        height: 75%;
        width: 90%; 
        border-radius: 0rem 0rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center ;
        padding: 1% 5%;
    }
    #pageCreateHeader{
        height: 15%;
        width: 90%; 
        border-radius: 1rem 1rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:center ;
        box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
        margin-bottom: -1px;
        padding: 15px;
        background-color: #999999;
        position: relative;
    }

    .label-form {
        top: -5px;
        font-size: 16px;
        line-height: 1.42857;
        color: #AAAAAA;
        font-weight: 400;
        margin: 0 0 0 0;
    }

    .button-form{
        width: 120px;
        height:35px ;
        border-radius: 1rem;
        border:0;
        font-size: 20px; 
        box-shadow: 2px 2px 5px #999;
        margin:10px;
    }

    .input-form {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .div-form {
        padding: 0 !important;
    }
    .input-password {
        width: 94%;
        height: 28px;
        font-size: 14px;
        padding: 6px 12px;
        line-height: 1.42857143;
        color: #555;
        background-color: transparent;
        border: 0;
        position:relative;
    }

    .img-create {
        display: inline-block; 
        height: 90px; 
        width: 110px; 
    }
    @media (max-width:366px){
        .input-password {
            width: 90%;
        }
    }
    @media (min-width:660px){
        .input-form {
            width: 90%;
        }
        .input-password {
            width: 96%;
        }
    }
    @media (min-width:780px){
        #pageCreateHeader{
            width: 70%; 
        }
        #pageCreateContent{
            width: 70%; 
        }
    }
    @media (min-width:980px){
        #pageCreateHeader{
            width: 60%; 
        }
        #pageCreateContent{
            width: 60%; 
        }
        .label-form {
            font-size: 16px;
            margin-top: 4px;
        }
        .input-form {
            width: 85%;
            padding: 6px 12px;
        }
        .input-password {
            width: 95%;
            padding: 6px 12px;
        }
    }
    @media (min-width:1200px){
        #pageCreateHeader{
            width: 50%; 
        }
        #pageCreateContent{
            width: 50%; 
        }
        .input-form {
            width: 80%;
            padding: 6px 12px;
        }
        .input-password {
            width: 95%;
            padding: 6px 12px;
        }
    }
    @media (min-width:1480px){
        .label-form {
            font-size: 18px;
        }
        .input-form {
            width: 75%;
            padding: 10px 12px;
        }
        .input-password {
            width: 95%;
            padding: 10px 12px;
        }
        #pageCreateHeader{
            width: 50%; 
        }
        #pageCreateContent{
            width: 50%; 
        }
    }
    @media (min-width:1600px){
        .input-form {
            width: 70%;
            padding: 10px 12px;
        }
        .input-password {
            width: 95%;
        }
        #pageCreateHeader{
            width: 50%; 
        }
        #pageCreateContent{
            width: 50%; 
        }
    }
    
#messageHide{
    display: none;
    color: red;
    margin-left: 23%;
}

.divIconsGoogleFb{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon-google {
    content: url(img/icono-google.png);
    height: 35px;
    margin: 10px;
}
.icon-Fb{
    content: url(img/icono-fb2.png);
    height: 35px;
    margin: 10px;
}

.divPassword{
    display: flex;
    width: 80%;
}
#messageEmailHide{
    display: none;
    color: red;
    margin-left: 23%;
}
   
    