* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*style login*/

 body {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 14px;
     line-height: 1.42857143;
     color: #333;
     background-color: #fff;
     height: 100vh;
     width: 100vw;
 }
 .full-page{
     background: url(img/diseno-fondo.webp) no-repeat center center; 
     background-size: cover;
     display: block;
     position: absolute;  /*saca del flujo el elemento , mantiene el lugar especificado*/
     min-width: 100%;
     min-height: 100%;
     top: 0;
     left: 0;
 }
 .container{
     padding-right:15px;
     padding-left:15px;
     margin-right:auto;
     margin-left:auto;
     padding-top: 18vh;
 }
     
 .card { /*contenedor de inicio de sesión y el logo*/
     display: inline-block;
     position: relative;
     width: 100%;
     margin: 25px 0;
     box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
     border-radius: 6px;
     color: rgba(0,0,0, 0.87);
     background: #fff;
     padding-bottom: 20px;
 }

 .card-header { /*contenedor del logo*/
     padding: 15px 20px;
     box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
     margin: -20px 15px 0;
     border-radius: 3px;
     padding: 15px;
     background-color: #999999;
     position: relative;
     margin-top: -40px;
     margin-bottom: 20px;
     background-image: linear-gradient(to top right, #89253e, #3a6186);
  }
  .text-center { 
      text-align: center !important;
  }
  .img-login {
      display: inline-block; 
      height: 100px; 
      width: 120px; 
  }
  .card-content { /*contenedor del login*/
      padding: 15px 16% 15px 16%;
      position: relative;
      
  }
   
  .input-group { 
      position: relative;
      display: table;
      border-collapse: separate; /*fusionar los bordes*/
      margin-top: 10px;
  }
  .input-group-ico {
      border: 0;
      background: transparent;
      padding: 30px 12px 8px 12px;
      line-height: 1;
      text-align: center;
      width: 1%;
      vertical-align: middle;
      display: table-cell;
  }
  .ico-user {
      content: url(img/usuario.png);
  }
  .ico-eye {
      content: url(img/ver.png);
  }
  .ico-eye-hide {
      content: url(img/invisible.png);
  }
  .ico-lock {
      content: url(img/password.png);
  }
  .ico-correct {
    content: url(img/correct.png);
    margin-top: -15%;
  }
  .ico-incorrect {
    content: url(img/incorrect.png);
    margin-top: -15%;
  }
  .ico-danger {
    content: url(img/alert.png);
    margin-top: -15%;
  }
  .control-label {
      top: -7px;
      font-size: 16px;
      line-height: 1.4;
      color: #AAAAAA;
      font-weight: 400;
      margin: 16px 0 0 0;
  }
  .input-login {
      display: block;
      width: 100%;
      height: 34px;
      font-size: 14px;
      line-height: 1.4;
      color: #555;
      border: 0;
      background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);/*linea inferior del input*/
      background-size: 0 2px, 100% 1px;
      background-repeat: no-repeat;
      background-position: center bottom, center calc(100% - 1px);
      background-color: transparent; 
      font-weight: 400;
  }
  *:focus{
      outline:0;
  }
  
  .link-login{
      display:block;
      margin-top: 10px;;
  }
  @media (min-width:430px){
      .container{width:80%}
  }
  @media (min-width:570px){
      .container{width:70%}
  }
  @media (min-width:613px){
      .container{width:60%}
  }
  @media (min-width:768px){
      .container{width:50%}
  }
  @media (min-width:992px){
      .container{width:40%}
  }
  @media (min-width:1200px){
      .container{width:30%}
  }
  /* style create user(register.js) */
  #pageCreate{
      background: url(img/diseno-fondo.webp) no-repeat center center; 
      min-height: 100%;
      min-width: 100%; 
      padding:15px 10px;
      background-size: cover;
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: center;
      align-items:center ;
      color: rgba(0,0,0, 0.87);;
     font-size:medium;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #pageCreateContent{
      background-color: #fff;
      height: 75%;
      width: 90%; 
      border-radius: 0rem 0rem 1rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items:center ;
      padding: 1% 5%;
  }
  #pageCreateHeader{
      height: 15%;
      width: 90%; 
      border-radius: 1rem 1rem 0rem 0rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items:center ;
      box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
      margin-bottom: -1px;
      padding: 15px;
      background-color: #999999;
      position: relative;
      background-image: linear-gradient(to top right, #89253e, #3a6186);
  }
  .label-form {
      top: -5px;
      font-size: 16px;
      line-height: 1.42857;
      color: #AAAAAA;
      font-weight: 400;
      margin: 0 0 0 0;
  }
  .button-form{
      width: 120px;
      height:38px ;
      border-radius: 1rem;
      border:0;
      font-size: 18px; 
      box-shadow: 2px 2px 5px #999;
      margin:10px 5px;
  }
  .input-form {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  .div-form {
      padding: 0 !important;
  }
  .input-password {
      width: 94%;
      height: 28px;
      font-size: 14px;
      padding: 6px 12px;
      line-height: 1.42857143;
      color: #555;
      background-color: transparent;
      border: 0;
      position:relative;
  }
  .div-level-low{
      height: 6px !important;
      padding: 0 !important;
      background:red;
  }
  .div-level-medium{
    height: 6px !important;
      padding: 0 !important;
    background:linear-gradient(to right,red,yellow);
 }
 .div-level-higth{
    height: 6px !important;
    padding: 0 !important;
    background:linear-gradient(to right,yellow,green);
 }       
  .img-create {
      display: inline-block; 
      height: 90px; 
      width: 110px; 
  }
  @media (max-width:366px){
      .input-password {
          width: 88%;
      }
  }
  @media (min-width:660px){
      .input-form {
          width: 90%;
      }
      .input-password {
          width: 94%;
      }
      #pageCreateHeader{
        width: 65%; 
      }
      #pageCreateContent{
        width: 65%; 
      }
  }
  @media (min-width:980px){
      #pageCreateHeader{
          width: 60%; 
      }
      #pageCreateContent{
          width: 60%; 
      }
      .label-form {
          font-size: 16px;
          margin-top: 4px;
      }
      .input-form {
          width: 85%;
          padding: 6px 12px;
      }
      .input-password {
          width: 95%;
          padding: 6px 12px;
      }
      .button-form{
        margin:10px 10px;
        padding: 1%;
     }
  }
 @media (min-width:1200px){
     #pageCreateHeader{
         width: 48%; 
     }
     #pageCreateContent{
         width: 48%; 
     }
     .input-form {
         width: 80%;
         padding: 6px 12px;
     }
     .input-password {
         width: 95%;
         padding: 6px 12px;
     }
 }
 @media (min-width:1480px){
     .label-form {
         font-size: 18px;
     }
     .input-form {
         width: 75%;
         padding: 10px 12px;
     }
     .input-password {
         width: 95%;
         padding: 10px 12px;
     }
     #pageCreateHeader{
        width: 40%; 
     }
     #pageCreateContent{
        width: 40%; 
     }
 }
 @media (min-width:1600px){
     .input-form {
         width: 70%;
         padding: 10px 12px;
     }
     .input-password {
         width: 95%;
     }
     #pageCreateHeader{
        width: 35%; 
     }
     #pageCreateContent{
        width: 35%; 
     }
 }
    
#messageHide{
    display: none;
    color: red;
    margin-left: 23%;
}

.div-icons-google-fb{
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon-google {
    content: url(img/icono-google.png);
    height: 35px;
    margin: 10px;
}
.icon-fb{
    content: url(img/icono-fb2.png);
    height: 35px;
    margin: 10px;
}

.message-hide{
    display: none;
    color: red;
    margin-left: 70%;
    font-size: 10px;
}

.message-alert{
    background: rgba(0,0,0,.4);
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.message-alert-content{
    position: absolute;
    background: #fff;
    width: 22rem;
    height: 15rem;
    border: none;
    border-radius: 5px;
    padding-top: 5rem;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0% 10%;
}

.button-alert-content{
    padding: 2%;
    margin-top: 4%;
    border: 0;
    border-radius: 0.25em;
    font-size: 1rem;
    background-color: #7066e0;
    color: #fff;
}


/*header feed*/
.container-feed{
    background-image: linear-gradient(to top right, #89253e, #3a6186);
    width:100vw;
    height: 100vh;
    position: absolute;
    font-family: Verdana;
    font-size: small;
}
.container-search-photo-nav {
    background-color: white;
    display:flex;
    align-items: center;
    height: 55px;
    margin:1.5%;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    padding:2%;

}
.photo-user{
    width:auto;
    height: 30px;
}
.search-logo{
    height: 20px;
    position: absolute;
}
.input-search{
    width:80%;
    line-height: 1.4;
    color: #555;
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
}
.logo-wall {
    height: 35px;
}
.logo-computer{
    height: 45px;
}
.nav-lines {
    font-size: 40px;

}
.container-options-nav{
    position:absolute;
    padding-left: 0;
    display: none;
}
.container-options-nav li :hover{
    background-color: white;
}
.container-options-nav  {
    left: 35%;
    padding-top:4%;
    line-height: 3em;
    background-color: white;
    width:100vw;
    list-style: none;
}
.container-options-nav li a {
    text-decoration: none;

}
.container-options-nav li  {
    padding-left: 25%;
}   
/*style de publicación del usuario*/
.container-publication {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #D2D2D2;
    margin:5% 12%;
}
.container-publication-section {
    flex-direction: column;
   
    
}
.container-publication-section input {
    width: 90%;
    margin: 2% 5%;
   
}
.input-text-publication {
    height: 100px;
}

.logo-publication {
    height: 15px;
}
.photo-user-publication{
    height:20px;
}

/*style responsivo del muro*/
@media (min-width:600px){
    .container-search-photo-nav {
        height: 60px;
        font-size: medium;
        margin:1%;
    }
    .photo-user{
        height: 30px;
    }
    .search-logo{
        height: 35px;
    }
    .input-search{
        width:85%;
        line-height: 2;
       padding-right: 50px;
        font-size: large;
    }
    .logo-wall {
        height: 50px;
    }
    .logo-computer{
        height: 50px;
    }
    .nav-lines {
        font-size: 50px;
    }
    .container-feed{
        font-size: large;
    }
    .container-options-nav  {
        padding:4% 4%;
        width:43%;
    }
}
@media (min-width:980px){
    .search-logo{
        height: 35px;
    }
    .input-search{
        width:90%;
        padding-right: 90px;
    }
    .logo-wall {
        height: 57px;
    }
    .logo-computer{
        height: 55px;
    }
    .nav-lines {
        font-size: 70px;
    }
}
@media (min-width:1200px){
    .container-search-photo-nav {
        float: left;
        width:60%;
        margin-right: 0;
        padding-right: 5%;
        border-radius: 0;
    }
    .width-content{
        width:36%;
        margin-left: 0;
        margin-right: 2%;
        padding-right: 3%;
        padding-left: 3%;
    }
    .container-publication {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #D2D2D2;
        margin:7% 20%;
        position:absolute;
        width:60%;
    }
}
@media (min-width:1600px){
    .container-search-photo-nav {
        width:70%;
    }
    .width-content{
        width:26%;
        margin-left: 0;
        margin-right: 2%;
        padding-right: 3%;
        padding-left: 3%;
    }
}
    