/*style de la publicación presentada en elmuro*/
.container-publication-final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    margin:5% 12%;
    border-radius: 15px;
    padding:1%;
    width:90%
    
}
.direction {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.container-user-edit {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.figure-name-photo {
    margin:1% 80% 1% 0%;
}
.like-logo {
    height: 14px;
    margin: 0.5% 1%;
}
.photo-user-pub {
  height: 15px;
}
.love-logo {
    height: 14px;
    margin: 0.5% 1%;
}

@media (min-width:600px){
    .container-publication-final {
        width: 60%;
    }
}
@media (min-width:980px){
    .container-publication-final {
        width: 70%;
    }
}


.divEdit{
    height:150px;
    padding:12px;
    box-sizing:border-box;
}

/* style for emoticos */
.div-text{
    border-style: solid;
    width: 90%;
    word-break: break-all;
    margin: 1% 5%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 5px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%)

}
[contenteditable=true]:empty:before {
    content:attr(placeholder);
    color:gray
  }
.div-emoticons{

    position: absolute;
    border: 1px;
    border-style: solid;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
}
.emoticons{
    height: 36px;
    width: 36px;
}
.emoticon{
    height:20px;
    width:20px;
    vertical-align:bottom;
}

#newTitle {
 border:0;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px ;
 background-color: white;
 width:90%;
}
#newText {
 border:0;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px ;
 background-color: white;
}
.btn-save {
    border:0;
    background-image: linear-gradient(to top right, #89253e, #3a6186);
    color:white;
    border-radius: 10px;
    margin: 5px 5px 5px 100px;
}
@media (min-width:600px){
    #newTitle {
        font-size: 16px ;
       }
    #newText {
        font-size: 14px ;
       }
    .btn-save {
           border-radius: 12px;
           margin: 5px 5px 5px 120px;
       }
}
@media (min-width:800px){
    .btn-save {
        margin: 5px 5px 5px 180px;
    }
}
@media (min-width:1000px){
    #newTitle {
        font-size: 19px ;
       }
    #newText {
        font-size: 16px ;
       }
    .btn-save {
           font-size:15px;
           padding: 5px;
           width:200px;
           border-radius: 12px;
           margin: 5px 5px 5px 220px;
       }
}